# Node modules (don't copy local ones, let Docker install clean)
node_modules
**/node_modules

# Git & config
.git
.gitignore

# Environment variables
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
.next
dist
build
coverage
.nyc_output

# Misc
README.md
.DS_Store

# OS / Editor folders
.vscode
.idea
*.swp